.banner-main{
    background: linear-gradient(to right, #111637, #6122e5);
}
.banner-content h1{
    font-size: 50px;
    font-weight: 700;
}
.banner-content p{
    font-size: 18px;
    font-weight: 500;
}
.banner-content h6{
    font-size: 20px;
}